[Unit]
Description=Cumulocity PI Agent
After=multi-user.target

[Service]
User=pi
ExecStartPre=/bin/sleep 3
Type=idle
#WorkingDirectory=/home/pi/git/sag-d-iot.python_pi/c8yPyAgent
WorkingDirectory=/opt/softwareag/c8yPyAgent

ExecStart=/usr/bin/python3 /opt/softwareag/c8yPyAgent/piAgent.py

[Install]
WantedBy=multi-user.target
